body {
    background-image: url(../images/quai.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif !important;
    color: inherit !important;
}

.page {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 4rem 4rem;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.content {
    padding-top: 4rem;
}

h1, h3, h4, h5, .info {
    color: #050D9E !important;
}

h1 {
    font-weight: 700 !important;
    font-size: 3rem !important;
    margin-bottom: 2rem !important;
}

h2 {
    font-weight: 400 !important;
    margin-top: 50px !important;
    font-size: 2rem !important;
    color: white !important;
}

h3 {
    font-size: 2rem !important;
    font-weight: 700 !important;
    margin-bottom: 20px !important;
}

h4 {
    font-size: 1.5rem !important;
    text-transform: uppercase;
}

h5 {
    font-size: 1rem;
}

p {
    margin-top: 10px !important;
}

a {
    color: inherit !important;
}

nav a:hover {
    color: #050D9E !important;
}

.content a:hover {
    text-decoration: inherit !important;
}

li.nav-item {
    margin-left: 0.5rem;
}

.content-description {
    font-size: 1.5rem !important;
}

.station {
    margin-top: 50px !important;
    font-size: 1.5rem !important;
}

.results {
    margin-bottom: 1rem;
}

.info {
    font-size: 0.4rem;
    font-style: italic;
    font-weight: bold;
}

.nav-item:hover {
    cursor: pointer;
}

img.media-object {
    width: 50px;
}

.media {
    margin-bottom: 2rem;
}

.media-body {
    margin-left: 1rem;
}

.trafic-transport-img {
    width: 75px;
    margin-bottom: 2rem;
}

.green {
    color: green;
}

.red {
    color: red;
}

.fas {
    margin-left: 0.5rem;
}

.accueil-horaires, .accueil-stations, .accueil-trafic, .accueil-plans {
    width: 100%;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    position: relative;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.accueil-bloc::after {
    height: 100px;
    width: 100px;
    background-size: 100px;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    opacity: .05;
    z-index: 1;
}

.accueil-horaires {
    background-color: #7f5d38;
}

.accueil-horaires:hover, .accueil-stations:hover, .accueil-trafic:hover {
    opacity: 0.8;
}

.accueil-horaires::after {
    background-image: url('../images/horaires.png');
}

.accueil-stations {
    background-color: #0062a1;
}

.accueil-stations::after {
    background-image: url('../images/stations.png');
}

.accueil-trafic {
    background-color: #572a79;
}

.accueil-trafic::after {
    background-image: url('../images/trafic.png');
}

.accueil-plans {
    background-color: #86881d;
}

.accueil-plans::after {
    background-image: url('../images/plans.png');
}

@media screen and (max-width: 640px) {
    .page {
        padding: 2rem;
    }
}

@media screen and (max-width: 400px) {
    .page {
        padding: 1rem;
    }
}