.input-group {
    display: block !important;
    margin-top: 2rem !important;
}

label {
    font-size: 1.30rem !important;
}

input.form-control {
    height: 4rem !important;
    width: 100% !important;
    border: 1px solid #050D9E;
}

input.form-control::-webkit-input-placeholder {
    font-size: 13px !important;
}